# 忽略 build 文件夹
build/

# 或忽略所有名为 build 的文件夹（任何层级）
**/build/

# 忽略 build 文件夹内的所有内容（保留空文件夹）
build/*
build/


# 构建目录
build/
cmake-build-*/
out/
Debug/
Release/

# 编译产物
*.exe
*.dll
*.so
*.a
*.o
*.obj



build/
